<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
			<div class="row text-center">
				{{&menu}}
			</div>
		<br />
			<div class="row">
			{{#lot}}
			<div class="col-lg-8 col-lg-offset-2">
			<div class="row">
				<em>&nbsp;- <a href="{{user_profile}}">{{username}}</a></em>
				{{#is_owner}}<div class="pull-right"><a href="{{trade_delete}}" class="btn btn-xs btn-danger">Remove</a></div>{{/is_owner}}
				{{#can_bid}}<div class="pull-right"><a href="{{bid_link}}" class="btn btn-xs btn-default">Make a bid</a></div>{{/can_bid}}
				<span class="pull-left"><strong>#{{id}}</strong></span>
			</div>
			<div class="media">
				{{#inventory}}
					<img class="media-object pull-left" src="{{img}}" width="45" heigth="45" />
				  <div class="media-body">
				    {{name}}
				  </div>
				{{/inventory}}
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					{{description}}
				</div>
			</div>
			{{#is_owner}}
				{{#bids}}
					<div class="row">
						Bid made by <a href="{{profile}}">{{username}}</a>
						<span class="pull-right">
							<a href="{{accept}}" class="btn btn-success">Accept</a> <a href="{{reject}}" class="btn btn-warning">Reject</a>
						</span>
					</div>
				<div class="row">
					<ul class="media-list col-lg-offset-2">
						{{#inventory}}
						<li class="media">
							<div class="pull-left">
								<img src="{{img}}" class="media-object" width="45" heigth="45" />
							</div>
							<div class="media-body col-lg-8">
								{{name}}
							</div>
						</li>
						{{/inventory}}

						{{#points}}
						<li class="media">
							<div class="pull-left">
								{{#currency_image}}
								<img class="media-object" src="{{.}}" />
								{{/currency_image}}
							</div>
							<div class="media-body col-lg-8">
								{{amount}} {{currency}}
							</div>
						</li>
						{{/points}}
					</ul>
				</div>
				{{/bids}}
				{{^bids}}
				<div class="row">
					<div class="text-center text-muted">
						No bids have been made
					</div>
				</div>
				{{/bids}}
			{{/is_owner}}
			{{#bid}}
				<div class="row">
						<span class="pull-right">
							<a href="{{retract}}" class="btn btn-warning">Retract</a> 
						</span>
					</div>
				<div class="row">
					<ul class="media-list col-lg-offset-2">
						{{#inventory}}
						<li class="media">
							<div class="pull-left">
								<img src="{{img}}" class="media-object" width="45" heigth="45" />
							</div>
							<div class="media-body col-lg-8">
								{{name}}
							</div>
						</li>
						{{/inventory}}

						{{#points}}
						<li class="media">
							<div class="pull-left">
								{{#currency_image}}
								<img class="media-object" src="{{.}}" />
								{{/currency_image}}
							</div>
							<div class="media-body col-lg-8">
								{{amount}} {{currency}}
							</div>
						</li>
						{{/points}}
					</ul>
				</div>
			{{/bid}}
			</div>
			{{/lot}}
		</div>
	</div>
</div>