<div class="row">
	<div class="col-lg-offset-4 col-lg-4">
		<p class="text-center">
			<img src="{{npc.img}}" /> <br />
			{{npc.msg}}
		</p>
	</div>
</div>
<div class="row">
	{{#items}}
		<div class="col-lg-3 item-entity" data-store-id="{{id}}">
			<p class="text-center">
				<a href="{{link}}" class="item">
					<img src="{{img}}" /><br />
					<span class="item-stock">{{stock}}</span> <span class="item-name">{{name}}</span><br />
					Price: <span class="item-price">{{price}}</span>
				</a>
			</p>
		</div>
	{{/items}}
	{{^items}}
	<div class="col-lg-12">
		<p class="text-center text-muted">- There are no items in stock -</p>
	</div>
	{{/items}}
</div>