<div class="center-block">
	{{&menu}}
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<p class="text-center">
			<div class="pull-right col-lg-4">
				<form action="{{#uri}}shop.collect{{/uri}}" method="POST">
					<input type="hidden" name="csrf" value="{{csrf}}" />
					<div class="input-group">
						<input type="text" class="form-control" name="amount" placeholder="collect" />
					      <span class="input-group-btn">
					        <button type="submit" class="btn btn-info"><i class="fa fa-money"></i></button>
					      </span>
					</div>
				</form>
			</div>
			You have {{earnings}} {{currency}} in your shop's till
		</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Time</th>
					<th>User</th>
					<th>Item</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				{{#logs}}
					<tr>
						<td>{{date}}</td>
						<td><a href="{{profile}}">{{username}}</a></td>
						<td>{{name}}</td>
						<td>{{price}}</td>
					</tr>
				{{/logs}}
			</tbody>
		</table>
	</div>
</div>