<div class="row">
	<div class="col-lg-8">
		<h4>{{shop.title}} <small>(<a href="{{owner.url}}">{{owner.username}}</a>)</small></h4>
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		{{shop.description}}
	</div>
</div>
<div class="row">
	<div class="col-lg-8 col-lg-offset-2">
		<div class="row">
			{{#inventory}}
				<div class="col-lg-3">
					<p class="text-center">
						<a href="{{url}}">
							<img src="{{img}}" border="0" /><br />
							{{name}} <br />
							Price: {{price}}
						</a>
					</p>
				</div>
			{{/inventory}}
			{{^inventory}}
				<div class="col-lg-12">
					<p class="text-center text-muted">
						Out of stock
					</p>
				</div>
			{{/inventory}}
		</div>
	</div>
</div>